<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <title>Indentification</title>
    
     <!--Made with love by Mutiullah Samim -->
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="/dist/css/login.css" rel="stylesheet" type="text/css" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        
        <section>

        {% trans_default_domain 'FOSUserBundle' %}

        {% block fos_user_content %}
            
            <div id="front_end_login_default">
            
                <div class="container">
<div class="justify-content-center text-center pt-5">
    <h1>Panneau Administration</h1>
 </div>               	
 
 <div class="d-flex justify-content-center h-50">
		<div class="card">
			<div class="card-header">
				<h3>Identification</h3>
                	<div class="d-flex justify-content-end social_icon">
					    <span><img class="logo" src="/img/renaissance-sportive-forestoise-logo.png"></span>
				    </div>
			</div>
			<div class="card-body">
                {% if error %}
                    <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
				<form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal" role="form" style="margin:0;">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control"  id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Votre Username"/>
						
					</div>



					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" id="password" name="_password" required="required" placeholder="Votre Password"/>
					</div>


					<div class="row align-items-center remember">
						<input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans }}&nbsp;
					</div>


					<div class="form-group">
						<input type="submit" class="btn float-right login_btn" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
					</div>


				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					<a href="{{ path('front_end_homepage_default') }}">revenir sur le site</a>
				</div>
				<!--<div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div> -->
			</div>
		</div>
	</div>
                 
            </div>
            <div style="clear:both;"></div>
        </section>
    </body>
    
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/dist/js/main{% if app.environment != 'dev' %}.min{% endif %}.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {

            function setPositionHeight(elementHeight, minusCurrentElementHeight) {
                return ($(elementHeight).height() - $(minusCurrentElementHeight).outerHeight())/2;
            }

            function setPositionWidth(elementWidth, minusCurrentElementWidth) {
                return ($(elementWidth).width() - $(minusCurrentElementWidth).outerWidth())/2;
            }

            $(window).on('resize', function () {
     
                //set defaults positions
                $('#front_end_login_default .wrapper').css({
                    'top': setPositionHeight(window, '#front_end_login_default .wrapper'),
                    'left': setPositionWidth(window, '#front_end_login_default .wrapper'),
                });        

            }).resize(); 
        });
    </script>

{% endblock fos_user_content %}
