{% extends "AppBundle::back_end_base.html.twig" %}

{% block section %}

	<div id="back_end_registration_edit">

		<div class="card">
	        <div class="card-header">Modifier une Inscription</div>
	        <div class="card-block">

				<form action="{{ path('back_end_registration_edit', {'registrationId': registration.id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal" role="form">
						
				    {{ form_start(form) }}

			    	{{ form_errors(form) }}

			    	{{ form_row(form.enabled) }}
				
				    <div style="clear:both;"></div>

			        <div class="text-center">         
			            <button type="submit" class="btn btn-secondary" style="margin-top:10px;">Modifier</button>   
			        </div>

			        {{ form_end(form) }}
				</form>
			</div>
		</div>	
	</div>

	<div style="clear:both;"></div>

{% endblock section %}

{% block javascripts %}{% endblock %}